@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Source+Code+Pro:wght@900&display=swap');

:root {
    --primary: #66E3C5;
    --primary-grey: #647A6A;
    --secondary: #1E0626;
    --white: white;
}

body {
    background-color: var(--secondary);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    padding: 25px 15px 0 15px;
}